.row {
  margin-left: 0;
  margin-right: 0;

  * {
    padding: 0;
  }
}

.flights {
  max-height: 65vh;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0 0.75rem;
  list-style-type: none;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: rgba($color: $dark-gray-color, $alpha: 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark-gray-color;
  }
}

.flights__item {
  border-radius: 1rem;
  box-shadow: 0 0 5px $white-color;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.flights__image {
  img {
    width: 100%;
    max-height: 275px;
    object-fit: cover;
  }
}

.flights__description {
  padding: 2rem;
  font-size: 1.1rem;
  background-color: rgba($color: $white-color, $alpha: 0.95);

  p {
    margin-bottom: 0.75rem;
  }
}

.flights__name {
  font-size: 1.5rem;
  font-weight: 700;
}

.flights__more {
  position: relative;
  z-index: 0;
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 0.95rem;
  color: $font-color;
  line-height: 1;
  border: 1px solid $dark-gray-color;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>")
      16 0,
    auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.4s ease-in-out;
    background: $dark-gray-color;
  }

  &:hover {
    color: $white-color;

    &::before {
      transform: scaleX(1);
    }
  }
}

.pagination {
  overflow-x: auto;
}
